body{
    background-color: #f1f1f1;
}
p {
    color:black;
    text-align: justify;
    font-size: 16px;
    font-family: Arial, sans-serif;
    width: 200px;
}
.contenair{
   width: 200px;
   margin: auto;
   background-color: rgb(65, 223, 207);
   border: 5px solid #000;
   border-radius: 5px;
   padding: 15px;
   margin-top: 100px;
}